<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effects/blue_exp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,621},{109,65}}</string>
				<key>offset</key>
				<string>{2,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/blue_exp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,943},{116,79}}</string>
				<key>offset</key>
				<string>{2,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/blue_exp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,817},{124,92}}</string>
				<key>offset</key>
				<string>{2,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/blue_exp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,710},{126,105}}</string>
				<key>offset</key>
				<string>{2,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/blue_exp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,817},{107,117}}</string>
				<key>offset</key>
				<string>{-1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/blue_exp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,853},{115,128}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/blue_exp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,697},{122,138}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/blue_exp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,559},{130,144}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/blue_exp_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,564},{139,131}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/blue_exp_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,569},{143,139}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/brush_effect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,621},{132,131}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effects/brush_effect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,565},{133,132}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effects/brush_effect_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,148},{149,144}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effects/brush_effect_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,424},{144,143}}</string>
				<key>offset</key>
				<string>{2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effects/brush_effect_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,422},{140,140}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effects/brush_effect_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,691},{131,130}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effects/brush_effect_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,699},{126,116}}</string>
				<key>offset</key>
				<string>{5,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effects/brush_effect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,754},{133,122}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effects/brush_effect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,731},{141,120}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effects/brush_effect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,422},{135,144}}</string>
				<key>offset</key>
				<string>{7,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effects/brush_effect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1},{148,145}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effects/brush_effect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,439},{147,144}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effects/brush_effect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,294},{150,143}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effects/brush_effect_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,422},{149,141}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effects/brush_effect_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,585},{146,144}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effects/color_exp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,424},{86,57}}</string>
				<key>offset</key>
				<string>{2,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,218},{206,204}}</string>
				<key>offset</key>
				<string>{4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,216},{204,207}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,204},{207,211}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,213},{207,211}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,1},{212,210}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{219,215}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,1},{213,216}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1},{218,201}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/color_exp_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,413},{206,206}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effects/colorless_exp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,850},{89,69}}</string>
				<key>offset</key>
				<string>{-4,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,823},{99,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,754},{71,94}}</string>
				<key>offset</key>
				<string>{7,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,512},{55,79}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,593},{35,51}}</string>
				<key>offset</key>
				<string>{8,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,817},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,821},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,919},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,823},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,923},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,878},{99,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effects/colorless_exp_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,924},{94,100}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>imgpngplist3.png</string>
			<key>realTextureFileName</key>
			<string>imgpngplist3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>