<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effects/text_effect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,1},{63,8}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,45}</string>
			</dict>
			<key>effects/text_effect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,894},{119,45}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,45}</string>
			</dict>
			<key>effects/text_effect_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,345},{118,45}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,45}</string>
			</dict>
			<key>effects/text_effect_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,345},{118,45}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,45}</string>
			</dict>
			<key>effects/text_effect_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,465},{115,45}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,45}</string>
			</dict>
			<key>effects/text_effect_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,627},{106,37}}</string>
				<key>offset</key>
				<string>{8,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,45}</string>
			</dict>
			<key>effects/text_effect_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,925},{59,33}}</string>
				<key>offset</key>
				<string>{29,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,45}</string>
			</dict>
			<key>effects/text_effect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,473},{119,45}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,45}</string>
			</dict>
			<key>effects/text_effect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,594},{119,45}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,45}</string>
			</dict>
			<key>effects/text_effect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,715},{119,45}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,45}</string>
			</dict>
			<key>effects/text_effect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,735},{119,45}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,45}</string>
			</dict>
			<key>effects/text_effect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,735},{119,45}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,45}</string>
			</dict>
			<key>effects/text_effect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,735},{119,45}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,45}</string>
			</dict>
			<key>effects/text_effect_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,345},{119,45}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,45}</string>
			</dict>
			<key>effects/text_effect_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,584},{118,45}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,45}</string>
			</dict>
			<key>effects/yellow_exp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,319},{109,65}}</string>
				<key>offset</key>
				<string>{2,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/yellow_exp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,807},{116,79}}</string>
				<key>offset</key>
				<string>{2,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/yellow_exp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,681},{124,92}}</string>
				<key>offset</key>
				<string>{2,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/yellow_exp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,345},{126,105}}</string>
				<key>offset</key>
				<string>{2,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/yellow_exp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,465},{107,117}}</string>
				<key>offset</key>
				<string>{-1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/yellow_exp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,592},{115,128}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/yellow_exp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,894},{122,138}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effects/yellow_exp_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,592},{143,139}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>other/other_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,914},{521,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{521,99}</string>
			</dict>
			<key>other/over.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,783},{516,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{516,129}</string>
			</dict>
			<key>other/reward_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,319},{462,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{462,180}</string>
			</dict>
			<key>other/score.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,473},{152,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,38}</string>
			</dict>
			<key>other/watch_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,681},{321,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{321,89}</string>
			</dict>
			<key>other/circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,430},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>uipng/achieve_color_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,319},{360,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,404}</string>
			</dict>
			<key>uipng/home_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1},{342,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{342,342}</string>
			</dict>
			<key>uipng/relife_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,681},{211,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,211}</string>
			</dict>
			<key>uipng/home_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{662,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{662,316}</string>
			</dict>
			<key>effects/firework_exp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,914},{100,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>imgpngplist6.png</string>
			<key>realTextureFileName</key>
			<string>imgpngplist6.png</string>
			<key>size</key>
			<string>{1023,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>