<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>other/scalesprite1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>other/scalesprite2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,243},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>other/scalesprite3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,337},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>uipng/stone_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,429},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,429},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,391},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,75},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,429},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,335},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,243},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,409},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,317},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,149},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,223},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>uipng/stone_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,297},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>other/scalesprite4.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,337},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>other/scalesprite5.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,243},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>scaleimglist.png</string>
			<key>realTextureFileName</key>
			<string>scaleimglist.png</string>
			<key>size</key>
			<string>{405,502}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>405</integer>
			<key>height</key>
			<integer>502</integer>
		</dict>
	</dict>
</plist>