<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>28b1OOOPICf0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{650,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,365}}</string>
                <key>sourceSize</key>
                <string>{650,365}</string>
            </dict>
            <key>face.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,464},{120,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{120,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>lure.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,580},{120,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{120,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>png-0430.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,122},{122,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{122,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>png-0433.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,240},{122,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{122,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>png-0435.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{128,118}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>png-0441.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,354},{122,108}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{122,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>yellow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{167,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{167,142}}</string>
                <key>sourceSize</key>
                <string>{175,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea59b7730d7fe511202d5ae7fabfba5e$</string>
            <key>textureFileName</key>
            <string>skin.png</string>
        </dict>
    </dict>
</plist>
