<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z_wifi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>Z_wifi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{42,30}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{42,30}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>Z_wifi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{26,22}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{26,22}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>Z_wifi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,42},{16,14}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{16,14}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z_wifi.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d494a8c9244eafa8a7054f3465a5f03:1/1$</string>
            <key>textureFileName</key>
            <string>Z_wifi.png</string>
        </dict>
    </dict>
</plist>
