<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panda_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,287},{65,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{65,91}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{67,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{67,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{65,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{65,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,192},{61,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{73,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_jump_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{73,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_jump_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{73,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_jump_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,97},{61,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_roll_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,130},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{69,69}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_roll_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{73,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{73,57}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_roll_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,93},{63,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{63,81}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_roll_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,128},{79,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{79,63}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_roll_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,193},{67,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{67,71}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_roll_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,65},{63,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{63,89}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_roll_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_roll_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{61,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{63,89}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{63,89}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,65},{61,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{61,91}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{61,91}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,382},{63,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{63,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,380},{61,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{61,91}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,380},{61,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{61,91}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>panda_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,287},{61,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panda.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:629f7d97fb1b0d5c7944b40160cd3813:1/1$</string>
            <key>textureFileName</key>
            <string>panda.png</string>
        </dict>
    </dict>
</plist>
