<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fnta_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fnta_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{0,66},{38,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fnta_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{0,132},{52,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fnta_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{0,198},{52,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fnta_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{0,264},{54,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fnta_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{0,330},{52,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fnta_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{0,396},{54,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fnta_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{0,462},{54,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fnta_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{0,528},{54,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fnta_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{0,594},{54,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>font1.png</string>
            <key>size</key>
            <string>{54,660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2109efde3d123cc15218c89cd971fe3b:434374b8bf7dc7551e2ea185752660db:25f0fb9b31dd9c70c1e9b3d463469a32$</string>
            <key>textureFileName</key>
            <string>font1.png</string>
        </dict>
    </dict>
</plist>
