<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1118},{118,154}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,154}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>101.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1160},{116,154}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,154}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>102.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1042},{116,154}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,154}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>103.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{116,154}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{116,154}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>104.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1162},{116,154}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{116,154}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>105.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1088},{118,154}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{118,154}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>110.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,684},{158,144}}</string>
                <key>offset</key>
                <string>{-48,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>111.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{156,144}}</string>
                <key>offset</key>
                <string>{-48,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{156,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>112.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,896},{154,144}}</string>
                <key>offset</key>
                <string>{-49,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>113.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{154,144}}</string>
                <key>offset</key>
                <string>{-49,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>114.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,896},{154,144}}</string>
                <key>offset</key>
                <string>{-49,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>115.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,750},{156,144}}</string>
                <key>offset</key>
                <string>{-48,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{156,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>120.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1280},{124,152}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,152}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>121.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,914},{154,126}}</string>
                <key>offset</key>
                <string>{-50,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>122.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1162},{152,128}}</string>
                <key>offset</key>
                <string>{-50,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{152,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>123.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1278},{150,128}}</string>
                <key>offset</key>
                <string>{-51,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{150,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>124.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{150,128}}</string>
                <key>offset</key>
                <string>{-51,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{150,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>125.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1208},{152,126}}</string>
                <key>offset</key>
                <string>{-51,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{152,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>130.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1482},{108,140}}</string>
                <key>offset</key>
                <string>{-9,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,140}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>131.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1532},{110,138}}</string>
                <key>offset</key>
                <string>{-8,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,138}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>132.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1770},{108,136}}</string>
                <key>offset</key>
                <string>{-9,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{108,136}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>133.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1678},{104,136}}</string>
                <key>offset</key>
                <string>{-11,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>134.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1582},{100,138}}</string>
                <key>offset</key>
                <string>{-12,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,138}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>135.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1544},{104,138}}</string>
                <key>offset</key>
                <string>{-11,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{104,138}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>140.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1722},{118,134}}</string>
                <key>offset</key>
                <string>{-3,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,134}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>141.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1768},{116,134}}</string>
                <key>offset</key>
                <string>{-4,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{116,134}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>142.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1890},{116,134}}</string>
                <key>offset</key>
                <string>{-4,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{116,134}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>143.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1890},{116,134}}</string>
                <key>offset</key>
                <string>{-5,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,134}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>144.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1880},{116,134}}</string>
                <key>offset</key>
                <string>{-4,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,134}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>145.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{118,136}}</string>
                <key>offset</key>
                <string>{-4,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,136}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>200.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,864},{128,156}}</string>
                <key>offset</key>
                <string>{-62,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{128,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>201.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,960},{126,154}}</string>
                <key>offset</key>
                <string>{-63,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{126,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>202.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,994},{122,154}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{122,154}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>203.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1364},{116,148}}</string>
                <key>offset</key>
                <string>{-4,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>204.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1462},{118,142}}</string>
                <key>offset</key>
                <string>{-3,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,142}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>205.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1292},{126,150}}</string>
                <key>offset</key>
                <string>{-64,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{126,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>210.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,630},{166,134}}</string>
                <key>offset</key>
                <string>{-43,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>211.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{166,136}}</string>
                <key>offset</key>
                <string>{-43,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>212.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,772},{156,140}}</string>
                <key>offset</key>
                <string>{-48,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{156,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>213.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,720},{152,142}}</string>
                <key>offset</key>
                <string>{-50,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{152,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>214.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,492},{162,138}}</string>
                <key>offset</key>
                <string>{-46,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{162,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>215.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,164},{160,134}}</string>
                <key>offset</key>
                <string>{-46,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{160,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>220.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,598},{120,148}}</string>
                <key>offset</key>
                <string>{-3,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{120,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>221.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1042},{118,154}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,154}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>222.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{160,126}}</string>
                <key>offset</key>
                <string>{-46,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{160,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>223.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{162,134}}</string>
                <key>offset</key>
                <string>{-45,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{162,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>224.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,766},{164,128}}</string>
                <key>offset</key>
                <string>{-45,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{164,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>225.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1336},{124,150}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,150}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>230.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1548},{112,136}}</string>
                <key>offset</key>
                <string>{-6,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,136}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>231.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1406},{124,144}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{124,144}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>232.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1548},{128,140}}</string>
                <key>offset</key>
                <string>{-62,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{128,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>233.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1784},{124,128}}</string>
                <key>offset</key>
                <string>{-1,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{124,128}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>234.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1686},{116,132}}</string>
                <key>offset</key>
                <string>{-5,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{116,132}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>235.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,458},{110,138}}</string>
                <key>offset</key>
                <string>{-8,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,138}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>240.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1592},{128,136}}</string>
                <key>offset</key>
                <string>{-62,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{128,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>241.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1644},{126,136}}</string>
                <key>offset</key>
                <string>{-63,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{126,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>242.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1420},{122,144}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{122,144}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>243.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1772},{116,134}}</string>
                <key>offset</key>
                <string>{-4,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{116,134}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>244.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1538},{118,142}}</string>
                <key>offset</key>
                <string>{-3,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{118,142}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>245.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1420},{126,142}}</string>
                <key>offset</key>
                <string>{-64,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{126,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>300.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1042},{118,154}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,154}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>301.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,356},{124,178}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{124,178}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>302.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,482},{100,172}}</string>
                <key>offset</key>
                <string>{-12,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,172}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>303.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,102},{78,192}}</string>
                <key>offset</key>
                <string>{-24,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,192}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>304.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,102},{96,198}}</string>
                <key>offset</key>
                <string>{-14,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,198}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>305.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,256},{98,184}}</string>
                <key>offset</key>
                <string>{-13,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,184}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>306.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1804},{122,100}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{122,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>310.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{158,144}}</string>
                <key>offset</key>
                <string>{-48,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>311.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,300},{170,164}}</string>
                <key>offset</key>
                <string>{-41,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{170,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>312.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,344},{174,146}}</string>
                <key>offset</key>
                <string>{-40,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{174,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>313.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,146},{134,184}}</string>
                <key>offset</key>
                <string>{-60,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{134,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>314.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,282},{178,164}}</string>
                <key>offset</key>
                <string>{-37,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{178,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>315.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,448},{176,156}}</string>
                <key>offset</key>
                <string>{-38,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>316.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1910},{124,96}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{124,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>320.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1238},{124,152}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,152}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>321.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,830},{156,128}}</string>
                <key>offset</key>
                <string>{-49,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>322.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,200},{196,142}}</string>
                <key>offset</key>
                <string>{-28,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{196,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>323.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{192,138}}</string>
                <key>offset</key>
                <string>{-30,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{192,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>324.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,250}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{94,250}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>325.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{98,246}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,246}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>326.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{118,200}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,200}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>330.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1658},{108,140}}</string>
                <key>offset</key>
                <string>{-9,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,140}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>331.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1408},{128,142}}</string>
                <key>offset</key>
                <string>{-63,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>332.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,632},{116,162}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,162}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>333.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,606},{166,164}}</string>
                <key>offset</key>
                <string>{-43,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>334.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,122},{188,132}}</string>
                <key>offset</key>
                <string>{-32,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{188,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>335.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{190,142}}</string>
                <key>offset</key>
                <string>{-31,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{190,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>336.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,466},{162,174}}</string>
                <key>offset</key>
                <string>{-46,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{162,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>340.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1684},{118,134}}</string>
                <key>offset</key>
                <string>{-3,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,134}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>341.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1910},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>342.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1408},{100,138}}</string>
                <key>offset</key>
                <string>{-12,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,138}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>343.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,296},{78,160}}</string>
                <key>offset</key>
                <string>{-24,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,160}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>344.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{96,160}}</string>
                <key>offset</key>
                <string>{-14,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,160}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>345.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,584},{98,170}}</string>
                <key>offset</key>
                <string>{-13,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{98,170}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>346.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{122,202}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{122,202}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rm.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f2f2b23b9be4b56174736b3841879e1$</string>
            <key>textureFileName</key>
            <string>rm.png</string>
        </dict>
    </dict>
</plist>
