<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,442},{36,48}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>110.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,222},{36,54}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>120.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,130},{30,58}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>130.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{28,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,60}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>140.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{36,60}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>200.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,330},{48,50}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>201.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,430},{58,48}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>202.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{60,48}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>203.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,222},{56,46}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>204.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,58},{52,50}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>205.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,114},{52,50}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>210.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,276},{50,48}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>211.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,56},{44,50}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>212.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{50,54}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>213.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,222},{56,52}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>214.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,58},{50,54}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>215.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{46,52}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>220.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{56,44}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>221.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,336},{52,44}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>222.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,168},{46,50}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>223.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,172},{48,52}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>224.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,394},{44,52}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>225.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,112},{50,46}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>230.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{54,52}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>231.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,428},{56,50}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>232.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{48,48}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>233.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,50},{44,48}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>234.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{48,46}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>235.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,448},{50,50}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>240.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,338},{48,54}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>241.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,308},{58,52}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>242.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,66},{60,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>243.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,288},{56,54}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>244.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,460},{52,50}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>245.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,222},{52,52}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>300.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,60},{54,52}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>301.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,178},{42,54}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>302.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{34,78}}</string>
                <key>offset</key>
                <string>{-13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,78}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>303.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,68}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,68}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>304.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,390},{48,50}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>305.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,128},{46,56}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>310.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,162},{48,58}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>311.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{44,60}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>312.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,84}}</string>
                <key>offset</key>
                <string>{-11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>313.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{60,62}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>314.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,368},{46,58}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>315.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,346},{48,56}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>320.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,64},{44,56}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>321.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{52,62}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,62}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>322.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,88},{50,74}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>323.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{50,74}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{50,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>324.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,164},{48,62}}</string>
                <key>offset</key>
                <string>{-6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,62}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>325.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,432},{54,58}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>330.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,442},{46,44}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>331.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,116},{50,54}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>332.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,228},{48,58}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>333.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,370},{58,52}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>334.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,122},{54,54}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>335.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,280},{46,56}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{46,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>340.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,280},{54,48}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{54,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>341.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,382},{42,46}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>342.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,186},{34,50}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>343.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,276},{40,52}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{40,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>344.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,404},{48,54}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>345.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,222},{46,50}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>500.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,66},{42,62}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,62}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sb.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17796b2723a6012fba9f7946c3c6133d$</string>
            <key>textureFileName</key>
            <string>sb.png</string>
        </dict>
    </dict>
</plist>
