<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,672},{46,70}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>101.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,646},{46,70}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>102.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,606},{46,70}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>103.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,768},{46,68}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,68}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>104.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,742},{46,68}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,68}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>105.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,702},{46,68}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,68}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>110.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,370},{46,78}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>111.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,342},{46,78}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>112.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,348},{46,78}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>113.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,338},{46,78}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>114.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{46,76}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,76}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>115.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,300},{46,78}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>120.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,480},{44,74}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>121.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,448},{44,74}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>122.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{44,74}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>123.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,534},{42,74}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>124.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,520},{42,74}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>125.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,488},{44,74}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>130.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,578},{48,72}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>131.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,542},{48,70}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>132.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{48,70}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>133.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,564},{48,72}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>134.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,494},{46,72}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>135.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,526},{48,72}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>140.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,688},{46,68}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,68}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>141.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,724},{46,68}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,68}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>142.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,720},{46,68}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,68}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>143.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,694},{46,68}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,68}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>144.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,654},{46,68}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,68}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>145.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,676},{46,68}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,68}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>200.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{48,66}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,66}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>201.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,724},{50,64}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,64}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>202.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,776},{48,52}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>203.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,626},{48,60}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>204.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,824},{48,56}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>205.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{48,52}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>210.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,750},{58,62}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,62}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>211.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,562},{60,62}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>212.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,236},{62,62}}</string>
                <key>offset</key>
                <string>{-31,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>213.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,614},{56,70}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>214.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,790},{52,62}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,62}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>215.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,816},{56,56}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>220.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{68,66}}</string>
                <key>offset</key>
                <string>{-28,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>221.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,534},{70,70}}</string>
                <key>offset</key>
                <string>{-28,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>222.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,576},{68,70}}</string>
                <key>offset</key>
                <string>{-29,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>223.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,142},{64,74}}</string>
                <key>offset</key>
                <string>{-30,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>224.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{58,72}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>225.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,208},{60,74}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>230.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{58,80}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,80}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>231.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,480},{52,72}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>232.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,418},{54,76}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{54,76}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>233.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{54,76}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,76}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>234.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,378},{54,76}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,76}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>235.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,236},{58,82}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>240.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,270},{48,82}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>241.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,396},{50,74}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>242.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,320},{48,80}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,80}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>243.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,242},{48,82}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>244.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,430},{48,74}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>245.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,292},{48,80}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,80}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>300.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{46,72}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>301.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,434},{52,76}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,76}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>302.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,296},{40,80}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,80}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>303.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{90,72}}</string>
                <key>offset</key>
                <string>{-17,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>304.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{68,140}}</string>
                <key>offset</key>
                <string>{-28,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,140}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>305.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,72},{68,126}}</string>
                <key>offset</key>
                <string>{-28,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,126}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>310.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,390},{40,78}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,78}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>311.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{52,80}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,80}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>312.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,386},{42,78}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,78}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>313.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,228},{86,66}}</string>
                <key>offset</key>
                <string>{-19,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>314.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{100,66}}</string>
                <key>offset</key>
                <string>{-12,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>315.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{76,90}}</string>
                <key>offset</key>
                <string>{-24,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>320.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,474},{44,74}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>321.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,628},{48,70}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>322.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,432},{46,74}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>323.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,172},{90,68}}</string>
                <key>offset</key>
                <string>{-17,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{90,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>324.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,74},{70,92}}</string>
                <key>offset</key>
                <string>{-27,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{70,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>325.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{70,94}}</string>
                <key>offset</key>
                <string>{-27,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>330.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,678},{44,70}}</string>
                <key>offset</key>
                <string>{-9,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>331.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,772},{50,66}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,66}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>332.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,640},{46,68}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,68}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>333.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,296},{80,80}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{80,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>334.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,146},{100,88}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>335.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,84},{106,86}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{106,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>340.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,592},{46,70}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>341.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,494},{52,66}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,66}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>342.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,736},{40,64}}</string>
                <key>offset</key>
                <string>{-10,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,64}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>343.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,142},{90,84}}</string>
                <key>offset</key>
                <string>{-17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>344.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,140}}</string>
                <key>offset</key>
                <string>{-25,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,140}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>345.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{80,126}}</string>
                <key>offset</key>
                <string>{-22,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,126}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yw.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0150d6a2d44b4353dbb11142054b07c$</string>
            <key>textureFileName</key>
            <string>yw.png</string>
        </dict>
    </dict>
</plist>
