<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hist_detail_list_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1081,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1081,155}}</string>
                <key>sourceSize</key>
                <string>{1081,155}</string>
            </dict>
            <key>hist_rec_backward.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,159},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,41}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>hist_rec_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,203},{114,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,4}}</string>
                <key>sourceSize</key>
                <string>{114,4}</string>
            </dict>
            <key>hist_rec_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,2},{139,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,129}}</string>
                <key>sourceSize</key>
                <string>{139,129}</string>
            </dict>
            <key>hist_rec_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,183},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>hist_rec_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,159},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>hist_rec_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,159},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>hist_rec_forward.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,159},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,41}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>hist_rec_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hist_rec_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,159},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>hist_rec_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,159},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>hist_rec_play_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,2},{470,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,106}}</string>
                <key>sourceSize</key>
                <string>{470,106}</string>
            </dict>
            <key>hist_rec_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,159},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>hist_rec_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,159},{155,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,42}}</string>
                <key>sourceSize</key>
                <string>{155,42}</string>
            </dict>
            <key>hist_rec_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{204,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,48}}</string>
                <key>sourceSize</key>
                <string>{204,48}</string>
            </dict>
            <key>hist_rec_title_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,110},{204,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,102}}</string>
                <key>sourceSize</key>
                <string>{204,102}</string>
            </dict>
            <key>hist_rec_title_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,110},{414,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,102}}</string>
                <key>sourceSize</key>
                <string>{414,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>history_record.png</string>
            <key>size</key>
            <string>{2020,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59f4b4f33957e53fec656541d79abf11:1/1$</string>
            <key>textureFileName</key>
            <string>history_record.png</string>
        </dict>
    </dict>
</plist>
