<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{257,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,87}}</string>
                <key>sourceSize</key>
                <string>{257,87}</string>
            </dict>
            <key>Num10.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,846},{248,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,87}}</string>
                <key>sourceSize</key>
                <string>{248,87}</string>
            </dict>
            <key>Num11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{257,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,87}}</string>
                <key>sourceSize</key>
                <string>{257,87}</string>
            </dict>
            <key>Num12.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,596},{259,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,87}}</string>
                <key>sourceSize</key>
                <string>{259,87}</string>
            </dict>
            <key>Num13.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,596},{257,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,87}}</string>
                <key>sourceSize</key>
                <string>{257,87}</string>
            </dict>
            <key>Num14.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1037},{248,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,87}}</string>
                <key>sourceSize</key>
                <string>{248,87}</string>
            </dict>
            <key>Num15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{259,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,87}}</string>
                <key>sourceSize</key>
                <string>{259,87}</string>
            </dict>
            <key>Num16.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,772},{257,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,86}}</string>
                <key>sourceSize</key>
                <string>{257,86}</string>
            </dict>
            <key>Num17.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,524},{248,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,86}}</string>
                <key>sourceSize</key>
                <string>{248,86}</string>
            </dict>
            <key>Num18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{259,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,86}}</string>
                <key>sourceSize</key>
                <string>{259,86}</string>
            </dict>
            <key>Num19.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,949},{257,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,85}}</string>
                <key>sourceSize</key>
                <string>{257,85}</string>
            </dict>
            <key>Num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,860},{248,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,87}}</string>
                <key>sourceSize</key>
                <string>{248,87}</string>
            </dict>
            <key>Num20.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,774},{248,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,85}}</string>
                <key>sourceSize</key>
                <string>{248,85}</string>
            </dict>
            <key>Num21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{259,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,85}}</string>
                <key>sourceSize</key>
                <string>{259,85}</string>
            </dict>
            <key>Num22.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1036},{248,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,87}}</string>
                <key>sourceSize</key>
                <string>{248,87}</string>
            </dict>
            <key>Num23.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,685},{257,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,87}}</string>
                <key>sourceSize</key>
                <string>{257,87}</string>
            </dict>
            <key>Num24.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{259,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,87}}</string>
                <key>sourceSize</key>
                <string>{259,87}</string>
            </dict>
            <key>Num25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{845,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{845,592}}</string>
                <key>sourceSize</key>
                <string>{845,592}</string>
            </dict>
            <key>Num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{259,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,87}}</string>
                <key>sourceSize</key>
                <string>{259,87}</string>
            </dict>
            <key>Num4.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,774},{257,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,86}}</string>
                <key>sourceSize</key>
                <string>{257,86}</string>
            </dict>
            <key>Num5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,949},{248,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,86}}</string>
                <key>sourceSize</key>
                <string>{248,86}</string>
            </dict>
            <key>Num6.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,263},{259,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,86}}</string>
                <key>sourceSize</key>
                <string>{259,86}</string>
            </dict>
            <key>Num7.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,862},{257,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,85}}</string>
                <key>sourceSize</key>
                <string>{257,85}</string>
            </dict>
            <key>Num8.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,596},{248,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,85}}</string>
                <key>sourceSize</key>
                <string>{248,85}</string>
            </dict>
            <key>Num9.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,685},{259,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,85}}</string>
                <key>sourceSize</key>
                <string>{259,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JoinRoom.png</string>
            <key>size</key>
            <string>{958,1127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf98b9912b8fcb909d74e2ef5b8d94ea:1/1$</string>
            <key>textureFileName</key>
            <string>JoinRoom.png</string>
        </dict>
    </dict>
</plist>
