<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,354},{78,76}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>101.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,420},{76,78}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>102.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,352},{78,76}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>103.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{78,76}}</string>
                <key>offset</key>
                <string>{-23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{78,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>104.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,498},{78,74}}</string>
                <key>offset</key>
                <string>{-23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>105.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,466},{78,74}}</string>
                <key>offset</key>
                <string>{-23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>110.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,276},{42,84}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>111.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,268},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>112.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,364},{42,82}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>113.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,320},{42,82}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>114.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{42,82}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>115.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,206},{42,84}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>120.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,452},{74,76}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>121.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{74,76}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>122.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,536},{74,74}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>123.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,612},{72,74}}</string>
                <key>offset</key>
                <string>{-26,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>124.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,564},{72,74}}</string>
                <key>offset</key>
                <string>{-27,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>125.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,468},{74,74}}</string>
                <key>offset</key>
                <string>{-26,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{74,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>130.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,134},{90,72}}</string>
                <key>offset</key>
                <string>{-18,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>131.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,88},{90,72}}</string>
                <key>offset</key>
                <string>{-17,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>132.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,58},{90,72}}</string>
                <key>offset</key>
                <string>{-17,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{90,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>133.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,160},{90,70}}</string>
                <key>offset</key>
                <string>{-18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>134.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,200},{88,70}}</string>
                <key>offset</key>
                <string>{-18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>135.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,208},{88,72}}</string>
                <key>offset</key>
                <string>{-18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>140.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,534},{76,76}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>141.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,486},{76,76}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>142.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,504},{78,76}}</string>
                <key>offset</key>
                <string>{-24,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>143.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,432},{78,74}}</string>
                <key>offset</key>
                <string>{-23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>144.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,456},{78,76}}</string>
                <key>offset</key>
                <string>{-23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{78,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>145.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,408},{78,76}}</string>
                <key>offset</key>
                <string>{-23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>200.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,282},{86,62}}</string>
                <key>offset</key>
                <string>{-19,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>201.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,198},{88,70}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>202.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,126},{88,70}}</string>
                <key>offset</key>
                <string>{-18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>203.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,270},{88,68}}</string>
                <key>offset</key>
                <string>{-18,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>204.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,292},{86,70}}</string>
                <key>offset</key>
                <string>{-19,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>205.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,232},{86,72}}</string>
                <key>offset</key>
                <string>{-20,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>210.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{62,80}}</string>
                <key>offset</key>
                <string>{-32,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>211.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{66,84}}</string>
                <key>offset</key>
                <string>{-30,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>212.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{66,84}}</string>
                <key>offset</key>
                <string>{-29,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>213.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,366},{64,82}}</string>
                <key>offset</key>
                <string>{-30,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>214.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,346},{66,82}}</string>
                <key>offset</key>
                <string>{-30,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>215.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{66,82}}</string>
                <key>offset</key>
                <string>{-29,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>220.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,126},{50,78}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,78}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>221.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,414},{52,78}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,78}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>222.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,430},{54,78}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,78}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>223.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,396},{54,78}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,78}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>224.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,270},{54,80}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{54,80}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>225.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,542},{54,78}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{54,78}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>230.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,322},{84,72}}</string>
                <key>offset</key>
                <string>{-20,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>231.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,292},{82,72}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{82,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>232.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,432},{80,70}}</string>
                <key>offset</key>
                <string>{-22,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>233.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,306},{82,72}}</string>
                <key>offset</key>
                <string>{-22,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{82,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>234.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,190},{84,78}}</string>
                <key>offset</key>
                <string>{-21,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>235.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,380},{84,74}}</string>
                <key>offset</key>
                <string>{-20,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>240.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,190},{86,76}}</string>
                <key>offset</key>
                <string>{-19,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>241.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,132},{88,80}}</string>
                <key>offset</key>
                <string>{-18,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>242.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,118},{88,80}}</string>
                <key>offset</key>
                <string>{-18,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>243.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,162},{88,76}}</string>
                <key>offset</key>
                <string>{-18,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>244.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,44},{88,80}}</string>
                <key>offset</key>
                <string>{-19,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>245.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,272},{86,80}}</string>
                <key>offset</key>
                <string>{-20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>300.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,380},{78,76}}</string>
                <key>offset</key>
                <string>{-24,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>301.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,64},{68,98}}</string>
                <key>offset</key>
                <string>{-29,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>302.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{40,122}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,122}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>303.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{42,102}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,102}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>304.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,46},{40,100}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>305.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{54,100}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>306.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,270},{86,80}}</string>
                <key>offset</key>
                <string>{-20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>310.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,104},{42,84}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>311.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,44},{58,108}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,108}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>312.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{72,110}}</string>
                <key>offset</key>
                <string>{-26,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>313.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,104},{84,94}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>314.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,134},{84,92}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>315.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{92,86}}</string>
                <key>offset</key>
                <string>{-17,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{92,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>316.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,312},{82,64}}</string>
                <key>offset</key>
                <string>{-22,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{82,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>320.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,582},{74,76}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>321.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,76},{82,96}}</string>
                <key>offset</key>
                <string>{-22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>322.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,240},{86,80}}</string>
                <key>offset</key>
                <string>{-19,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>323.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,64}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{124,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>324.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,64}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{124,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>325.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{60,106}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>326.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{66,68}}</string>
                <key>offset</key>
                <string>{-29,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>330.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,44},{90,72}}</string>
                <key>offset</key>
                <string>{-18,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>331.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,220},{84,70}}</string>
                <key>offset</key>
                <string>{-20,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>332.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,422},{68,66}}</string>
                <key>offset</key>
                <string>{-29,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>333.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,68},{106,64}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>334.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{106,64}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>335.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,378},{80,76}}</string>
                <key>offset</key>
                <string>{-23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>336.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,658},{64,72}}</string>
                <key>offset</key>
                <string>{-30,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>340.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,458},{76,76}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>341.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,352},{68,68}}</string>
                <key>offset</key>
                <string>{-29,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>342.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,486},{40,68}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,68}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>343.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{40,92}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{40,92}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>344.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{40,92}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,92}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>345.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,214},{54,88}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{54,88}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>346.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,340},{86,78}}</string>
                <key>offset</key>
                <string>{-20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{86,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>doushi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d2173b626ea88256fdcff1c1e3ade3e$</string>
            <key>textureFileName</key>
            <string>doushi.png</string>
        </dict>
    </dict>
</plist>
