<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,76},{88,68}}</string>
                <key>offset</key>
                <string>{-19,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>101.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,74},{88,68}}</string>
                <key>offset</key>
                <string>{-18,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>102.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,72},{88,68}}</string>
                <key>offset</key>
                <string>{-18,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>103.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{88,68}}</string>
                <key>offset</key>
                <string>{-18,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>104.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{88,68}}</string>
                <key>offset</key>
                <string>{-19,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>105.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{88,68}}</string>
                <key>offset</key>
                <string>{-19,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>110.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,344},{66,76}}</string>
                <key>offset</key>
                <string>{-30,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>111.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,276},{68,76}}</string>
                <key>offset</key>
                <string>{-29,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>112.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,274},{68,76}}</string>
                <key>offset</key>
                <string>{-29,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>113.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,344},{66,76}}</string>
                <key>offset</key>
                <string>{-29,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>114.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,346},{64,76}}</string>
                <key>offset</key>
                <string>{-30,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>115.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,346},{64,76}}</string>
                <key>offset</key>
                <string>{-30,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>120.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,334},{52,82}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>121.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,284},{52,82}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>122.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,280},{52,82}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>123.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,270},{52,82}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>124.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,216},{52,82}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>125.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,216},{52,82}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>130.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,412},{74,74}}</string>
                <key>offset</key>
                <string>{-26,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{74,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>131.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,412},{72,72}}</string>
                <key>offset</key>
                <string>{-26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>132.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{72,72}}</string>
                <key>offset</key>
                <string>{-26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>133.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,468},{74,72}}</string>
                <key>offset</key>
                <string>{-26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{74,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>134.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,402},{74,74}}</string>
                <key>offset</key>
                <string>{-25,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>135.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{74,74}}</string>
                <key>offset</key>
                <string>{-26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>140.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{88,70}}</string>
                <key>offset</key>
                <string>{-19,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>141.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,74},{88,72}}</string>
                <key>offset</key>
                <string>{-18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>142.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,152},{88,70}}</string>
                <key>offset</key>
                <string>{-18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>143.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{88,70}}</string>
                <key>offset</key>
                <string>{-18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>144.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,148},{88,70}}</string>
                <key>offset</key>
                <string>{-19,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>145.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,80},{88,70}}</string>
                <key>offset</key>
                <string>{-19,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>200.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,334},{80,66}}</string>
                <key>offset</key>
                <string>{-22,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>201.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,150},{82,64}}</string>
                <key>offset</key>
                <string>{-21,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{82,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>202.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,140},{84,60}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>203.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,220},{82,62}}</string>
                <key>offset</key>
                <string>{-21,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{82,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>204.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,204},{82,66}}</string>
                <key>offset</key>
                <string>{-21,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{82,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>205.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,208},{82,64}}</string>
                <key>offset</key>
                <string>{-22,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>206.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,142},{84,60}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>207.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{82,60}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>210.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,338},{62,80}}</string>
                <key>offset</key>
                <string>{-31,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>211.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,522},{64,74}}</string>
                <key>offset</key>
                <string>{-30,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>212.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,500},{68,70}}</string>
                <key>offset</key>
                <string>{-29,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>213.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,412},{72,68}}</string>
                <key>offset</key>
                <string>{-27,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>214.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,478},{74,68}}</string>
                <key>offset</key>
                <string>{-25,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>215.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,274},{76,68}}</string>
                <key>offset</key>
                <string>{-24,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>216.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,342},{76,70}}</string>
                <key>offset</key>
                <string>{-25,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>217.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,396},{70,76}}</string>
                <key>offset</key>
                <string>{-28,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>220.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{60,74}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>221.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,472},{56,72}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>222.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,548},{56,74}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>223.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,464},{56,72}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>224.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,412},{58,72}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>225.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,536},{56,74}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>226.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,478},{56,74}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>227.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,366},{56,76}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,76}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>230.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,414},{74,72}}</string>
                <key>offset</key>
                <string>{-25,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>231.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,446},{74,74}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>232.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,402},{74,74}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>233.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,500},{68,64}}</string>
                <key>offset</key>
                <string>{-29,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>234.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,570},{62,66}}</string>
                <key>offset</key>
                <string>{-32,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>235.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,566},{62,68}}</string>
                <key>offset</key>
                <string>{-31,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>236.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,522},{66,70}}</string>
                <key>offset</key>
                <string>{-29,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>237.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,486},{70,70}}</string>
                <key>offset</key>
                <string>{-27,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>240.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,324},{80,70}}</string>
                <key>offset</key>
                <string>{-22,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>241.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,74},{82,74}}</string>
                <key>offset</key>
                <string>{-21,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{82,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>242.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,150},{84,72}}</string>
                <key>offset</key>
                <string>{-20,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>243.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,224},{82,72}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{82,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>244.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,146},{82,68}}</string>
                <key>offset</key>
                <string>{-22,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{82,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>245.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,204},{82,72}}</string>
                <key>offset</key>
                <string>{-22,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{82,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>246.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,130},{84,72}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>247.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,144},{82,70}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>300.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{88,68}}</string>
                <key>offset</key>
                <string>{-19,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>301.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,66},{88,82}}</string>
                <key>offset</key>
                <string>{-19,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>302.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,76}}</string>
                <key>offset</key>
                <string>{-12,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>303.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,72},{56,86}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>304.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,224},{54,82}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{54,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>305.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{80,72}}</string>
                <key>offset</key>
                <string>{-22,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>310.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,298},{66,76}}</string>
                <key>offset</key>
                <string>{-30,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>311.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{52,82}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>312.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{70,78}}</string>
                <key>offset</key>
                <string>{-27,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>313.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,202},{82,72}}</string>
                <key>offset</key>
                <string>{-22,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{82,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>314.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,216},{82,62}}</string>
                <key>offset</key>
                <string>{-21,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>315.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,72},{86,66}}</string>
                <key>offset</key>
                <string>{-20,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{86,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>320.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,280},{52,82}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>321.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,278},{66,76}}</string>
                <key>offset</key>
                <string>{-30,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>322.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{60,78}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,78}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>323.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{96,62}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{96,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>324.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,140},{84,66}}</string>
                <key>offset</key>
                <string>{-20,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>325.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,482},{54,72}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{54,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>330.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,424},{74,74}}</string>
                <key>offset</key>
                <string>{-26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>331.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{96,70}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{96,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>332.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{90,72}}</string>
                <key>offset</key>
                <string>{-17,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>333.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,272},{72,76}}</string>
                <key>offset</key>
                <string>{-26,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>334.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,346},{60,76}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,76}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>335.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,588},{52,74}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>340.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{88,70}}</string>
                <key>offset</key>
                <string>{-19,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>341.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,72},{88,66}}</string>
                <key>offset</key>
                <string>{-19,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>342.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,76}}</string>
                <key>offset</key>
                <string>{-12,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>343.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,388},{56,80}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,80}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>344.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,408},{54,76}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{54,76}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>345.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,270},{80,70}}</string>
                <key>offset</key>
                <string>{-22,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaoxiao.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1be7b30ce7e566ff84a343e6f146f0ea$</string>
            <key>textureFileName</key>
            <string>xiaoxiao.png</string>
        </dict>
    </dict>
</plist>
