<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,224},{66,76}}</string>
                <key>offset</key>
                <string>{-29,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>101.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{68,78}}</string>
                <key>offset</key>
                <string>{-28,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>102.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{66,78}}</string>
                <key>offset</key>
                <string>{-29,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>103.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,72},{64,74}}</string>
                <key>offset</key>
                <string>{-30,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>104.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,150},{64,72}}</string>
                <key>offset</key>
                <string>{-30,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>105.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,60},{66,74}}</string>
                <key>offset</key>
                <string>{-30,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>110.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,212},{62,74}}</string>
                <key>offset</key>
                <string>{-31,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>111.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,68},{68,74}}</string>
                <key>offset</key>
                <string>{-29,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>112.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,70},{70,74}}</string>
                <key>offset</key>
                <string>{-28,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>113.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,372},{66,72}}</string>
                <key>offset</key>
                <string>{-30,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>114.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,296},{60,72}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>115.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,224},{60,74}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>120.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,358},{50,72}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>121.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,222},{56,72}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>122.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,410},{58,72}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>123.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,148},{56,72}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>124.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,144},{50,72}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>125.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,144},{48,72}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>130.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,132},{56,74}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>131.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,218},{58,74}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>132.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,218},{56,74}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>133.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,56},{54,74}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>134.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,218},{54,74}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{54,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>135.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,208},{54,72}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>140.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,350},{66,66}}</string>
                <key>offset</key>
                <string>{-29,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>141.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,372},{68,66}}</string>
                <key>offset</key>
                <string>{-28,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>142.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,434},{66,68}}</string>
                <key>offset</key>
                <string>{-29,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>143.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,302},{66,68}}</string>
                <key>offset</key>
                <string>{-30,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>144.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,370},{64,68}}</string>
                <key>offset</key>
                <string>{-30,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>145.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,294},{64,66}}</string>
                <key>offset</key>
                <string>{-30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>200.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,366},{66,70}}</string>
                <key>offset</key>
                <string>{-29,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>201.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,218},{66,74}}</string>
                <key>offset</key>
                <string>{-29,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>202.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,72},{70,74}}</string>
                <key>offset</key>
                <string>{-27,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>203.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,440},{70,68}}</string>
                <key>offset</key>
                <string>{-28,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>204.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,146},{66,70}}</string>
                <key>offset</key>
                <string>{-30,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>205.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,218},{66,74}}</string>
                <key>offset</key>
                <string>{-29,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>206.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,72},{70,74}}</string>
                <key>offset</key>
                <string>{-27,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{70,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>207.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,440},{70,68}}</string>
                <key>offset</key>
                <string>{-28,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>210.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,296},{70,68}}</string>
                <key>offset</key>
                <string>{-27,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>211.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,440},{70,70}}</string>
                <key>offset</key>
                <string>{-27,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>212.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,136},{74,66}}</string>
                <key>offset</key>
                <string>{-25,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>213.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{78,64}}</string>
                <key>offset</key>
                <string>{-24,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>214.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{78,66}}</string>
                <key>offset</key>
                <string>{-24,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>215.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{78,68}}</string>
                <key>offset</key>
                <string>{-24,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>216.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{78,66}}</string>
                <key>offset</key>
                <string>{-24,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>217.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,296},{72,68}}</string>
                <key>offset</key>
                <string>{-26,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>220.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,372},{66,72}}</string>
                <key>offset</key>
                <string>{-30,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>221.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,296},{68,72}}</string>
                <key>offset</key>
                <string>{-28,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>222.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,146},{70,72}}</string>
                <key>offset</key>
                <string>{-27,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>223.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,70},{72,72}}</string>
                <key>offset</key>
                <string>{-26,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>224.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,150},{76,72}}</string>
                <key>offset</key>
                <string>{-24,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>225.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,76},{76,72}}</string>
                <key>offset</key>
                <string>{-25,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>226.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,144},{70,72}}</string>
                <key>offset</key>
                <string>{-27,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>227.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,76},{66,72}}</string>
                <key>offset</key>
                <string>{-30,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>230.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,440},{70,70}}</string>
                <key>offset</key>
                <string>{-28,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>231.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,440},{70,70}}</string>
                <key>offset</key>
                <string>{-27,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>232.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,294},{62,72}}</string>
                <key>offset</key>
                <string>{-31,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>233.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,68},{54,74}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{54,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>234.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,294},{62,72}}</string>
                <key>offset</key>
                <string>{-31,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>235.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,150},{60,72}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>236.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,288},{52,72}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>237.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,366},{62,72}}</string>
                <key>offset</key>
                <string>{-32,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>240.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,282},{66,66}}</string>
                <key>offset</key>
                <string>{-29,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>241.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,442},{66,66}}</string>
                <key>offset</key>
                <string>{-29,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>242.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,372},{70,66}}</string>
                <key>offset</key>
                <string>{-27,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>243.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,300},{70,70}}</string>
                <key>offset</key>
                <string>{-28,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>244.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,360},{66,66}}</string>
                <key>offset</key>
                <string>{-30,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>245.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,428},{66,64}}</string>
                <key>offset</key>
                <string>{-29,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>246.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,294},{70,64}}</string>
                <key>offset</key>
                <string>{-28,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>247.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,300},{70,68}}</string>
                <key>offset</key>
                <string>{-28,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>300.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,226},{66,76}}</string>
                <key>offset</key>
                <string>{-29,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>301.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,222},{70,72}}</string>
                <key>offset</key>
                <string>{-27,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{70,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>302.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,366},{62,72}}</string>
                <key>offset</key>
                <string>{-31,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>303.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,70},{66,74}}</string>
                <key>offset</key>
                <string>{-29,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>304.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{52,86}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>305.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{60,82}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>310.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,224},{62,74}}</string>
                <key>offset</key>
                <string>{-31,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>311.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,368},{58,72}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>312.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{58,82}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>313.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{56,86}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,86}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>314.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{66,76}}</string>
                <key>offset</key>
                <string>{-30,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>315.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,148},{70,72}}</string>
                <key>offset</key>
                <string>{-27,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>320.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,222},{50,72}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>321.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,362},{56,70}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>322.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{76,74}}</string>
                <key>offset</key>
                <string>{-25,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>323.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{62,86}}</string>
                <key>offset</key>
                <string>{-31,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>324.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{80,72}}</string>
                <key>offset</key>
                <string>{-23,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>325.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,148},{70,72}}</string>
                <key>offset</key>
                <string>{-27,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>330.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,146},{56,74}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,74}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>331.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{76,72}}</string>
                <key>offset</key>
                <string>{-24,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>332.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{78,68}}</string>
                <key>offset</key>
                <string>{-24,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>333.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,72}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{82,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>334.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,70},{72,72}}</string>
                <key>offset</key>
                <string>{-27,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{72,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>335.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,222},{58,72}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,72}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>340.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,304},{66,66}}</string>
                <key>offset</key>
                <string>{-29,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>341.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,440},{70,62}}</string>
                <key>offset</key>
                <string>{-27,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{70,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>342.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,420},{60,62}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>343.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,420},{60,66}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,66}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>344.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,418},{52,70}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>345.png.pvr.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,440},{60,70}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xueren.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9defeb3d7b8a355d6576a747fad9f07c$</string>
            <key>textureFileName</key>
            <string>xueren.png</string>
        </dict>
    </dict>
</plist>
